@rollup/rollup-linux-x64-gnu:os=linux
@rollup/rollup-linux-x64-gnu:cpu=x64
lightningcss-linux-x64-gnu:os=linux
lightningcss-linux-x64-gnu:cpu=x64
lightningcss-linux-arm64-gnu:os=linux
lightningcss-linux-arm64-gnu:cpu=arm64
lightningcss-darwin-x64:os=darwin
lightningcss-darwin-x64:cpu=x64
lightningcss-darwin-arm64:os=darwin
lightningcss-darwin-arm64:cpu=arm64
lightningcss-win32-x64-msvc:os=win32
lightningcss-win32-x64-msvc:cpu=x64

@tailwindcss/oxide-linux-x64-gnu:os=linux
@tailwindcss/oxide-linux-x64-gnu:cpu=x64
@tailwindcss/oxide-linux-arm64-gnu:os=linux
@tailwindcss/oxide-linux-arm64-gnu:cpu=arm64
@tailwindcss/oxide-darwin-x64:os=darwin
@tailwindcss/oxide-darwin-x64:cpu=x64
@tailwindcss/oxide-darwin-arm64:os=darwin
@tailwindcss/oxide-darwin-arm64:cpu=arm64
@tailwindcss/oxide-win32-x64-msvc:os=win32
@tailwindcss/oxide-win32-x64-msvc:cpu=x64

engine-strict=false
legacy-peer-deps=true